.navbar .container .navbar-brand {
  margin-left: 2rem;
}

.level.is-mobile .level-item:not(:last-child) {
  margin-right: 0;
  margin-left: 0.75rem;
}

.navbar-start {
  margin-left: auto;
  margin-right: 0;
}

.media-left {
  margin-right: 0;
  margin-left: 1rem;
}

.media {
  text-align: inherit;
}

.media-content {
  text-align: inherit;
}

.column.is-offset-one-quarter, .column.is-offset-one-quarter-tablet {
  margin-left: 0;
  margin-right: 25%;
}
.notification {
  padding: 1.25rem 1.5rem 1.25rem 1.5rem;
}
.navbar-brand .navbar-burger.burger {
  margin-right: 16px;
}
.content ul {
  margin-left: 0;
  margin-right: 2em;
}