.footer {
    .brand {
        filter: grayscale(100%);
        color: hsl(0, 0%, 48%);
        &:hover {
            filter: grayscale(0);
            color: hsl(0, 0%, 21%);
        }
        .logo {
            display: flex;
            justify-content: start;
            align-items: center;
        }
        .description {
            margin-top: 8px;
            display: block;
        }
    }
}